<%= render :partial => "layouts/cms_templates/page_header" %>
<%= render :partial => "layouts/cms_templates/page_top", locals: {home_page: true} %>

  <% page_image = site_asset_media_url('headings/heading_general.jpg') %>
  <% style = page_image ? "style='background-image: url(#{page_image});'" : '' %>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>

    <div class="row">
      <!-- Sidebar Column -->
      <div class="col-md-3">

        <%= content_by_name :sidebar %>

      </div>
      <!-- Content Column -->
      <div class="col-md-9">
  <div class="row">
    <div class="col-md-9">
      <%= yield %>
    </div>
    <%= render :partial => "layouts/general_templates/page_right_sidebar" %>
  </div>
      </div>
    </div>
    <%= render :partial => "layouts/cms_templates/page_footer" %>

  </div>
  <!-- /.container -->
  <%= content_for :footer_scripts %>

</body>
</html>
