<h2><%= nls(:resend_title) %></h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), wrapper: :bs3_vertical_form, :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  <%= field_set_tag  do %>

    <div class="form-group">
      <%= f.label :email, nls(:signup_email) %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <%= f.submit nls(:resend_title), :class => 'btn btn-primary' %>
  <% end %>
<% end %>

<hr >

<%= render "links" %>
