<% if commenting_on.comments_allowed? %>
  <section id="reply" class="post-comment-form comment_reply_form">
    <% if current_user %>
      <% url = (commenting_on.class == CmsPost ? [commenting_on.cms_blog, commenting_on, :ajax_add_comment] : [commenting_on, :ajax_add_comment] )%>
      <%= simple_form_for :comment, url: url, wrapper: simple_form_theme_wrapper do |f| %>
        <%= f.input :body, :as => :text, :label => I18n.t('cms.comment_body'),
                        :input_html => {:rows => 10} %>
        <div>
          <%= f.submit I18n.t('cms.comment_submit'), class: 'btn btn-primary' %>
        </div>
      <% end %>
    <% else %>
      <p><%= I18n.t 'cms.comment_login_required' %></p>
      <%= link_to I18n.t('core.login'), main_app.new_user_session_path(redirect_to: request.url), class: 'btn btn-primary' %>
      <%= link_to I18n.t('core.create_account'), main_app.new_user_registration_path, class: 'btn'  %>
    <% end %>
  </section>
<% end %>
