<%= render partial: "layouts/cms_templates/page_header" %>

<%= render partial: "layouts/cms_templates/page_top" %>

<% title        = (@blog ? @blog.title : I18n.t('cms.blog_header')) %>
<% blog_image   = (@blog && @blog.header_image ? @blog.header_image : 'heading_blog.jpg') %>
<% accent_color = (@blog && @blog.preferred_header_accent_color ? @blog.preferred_header_accent_color : '') %>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header"><%= title %> <small><%= I18n.t('cms.recent_posts') %></small></h1>
      </div>
    </div>


    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <% if !@posts.empty? %>
          <% @posts.each do |post| %>
            <%= render partial: 'layouts/cms_templates/post_summary_item', locals: { post: post } %>
            <hr>
          <% end %>
          <%= pagination(@posts, class: 'pagination', version: :bootstrap3) %>
        <% else %>
        <% end %>
      </div>

      <!-- Blog Sidebar Widgets Column -->
      <div class="col-md-4 sidebar">
        <%= render partial: "layouts/cms_templates/blog_right_sidebar" %>
      </div>

    </div>
    <!-- /.row -->
    <%= render :partial => "layouts/cms_templates/page_footer" %>

  </div>
  <!-- /.container -->
  <%= content_for :footer_scripts %>

</body>
</html>
