<h2><%= nls(:change_password_title) %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), wrapper: :bs3_vertical_form, :html => { :method => :put }) do |f| %>
  <%= field_set_tag  do %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, nls(:new_password) %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, nls(:new_password_confirm) %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <%= f.submit nls(:change_password), :class => 'btn btn-primary' %>
  <% end %>
<% end %>

<%= render "links" %>
