                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4"><%= nls(:signin_title) %></h3></div>
                                    <div class="card-body">
                                      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                                        <%= devise_error_messages! %>
                                        <%= field_set_tag  do %>
                                            <div class="form-floating mb-3">
                                                <%= f.email_field :email, class: 'form-control', type: 'email', placeholder: 'name@example.com' %>
                                                <%= f.label :email, nls(:signup_email) %>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <%= f.password_field :password, class: 'form-control', type: 'password', placeholder: 'password' %>
                                                <%= f.label :password, nls(:signup_password) %>
                                            </div>
                                            <% if devise_mapping.rememberable? -%>
                                              <div class="form-check mb-3">
                                                  <%= f.check_box :remember_me, class: 'form-check-input', type: 'checkbox' %>
                                                  <%= f.label :remember_me, nls(:signin_rememberme), class: 'form-check-label' %>
                                              </div>
                                            <% end -%>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="password.html">Forgot Password?</a>
                                                <%= f.submit nls(:signin_button), class: 'btn btn-primary' %>
                                            </div>
                                        <% end %>
                                      <% end %>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="register.html">Need an account? Sign up!</a></div>
                                        <%= render "links" %>
                                    </div>
                                </div>
